<div class='case-item'>
    <h1>#15 - progress bar</h1>
    <div class='wrap'>
        <label *ngFor='let item of valueList'>
            <input type="checkbox" [checked]='item.checked' (click)='clickHandler(item.value)'> add {{item.value}}%
        </label>

        <div class='progress-bar'>
            <div class='loaded' [ngStyle]="{'width': getSum() + '%'}"></div>
        </div>
    </div>
</div>