.progress-bar{
    background-color: darken(#cacaca, $amount: 10);
    width: 100%;
    height: 10px;
    margin: 1em 0;
    display: flex;
    justify-content: flex-start;

    .loaded{
        width: 0;
        height: 100%;
        background-color: green;
        transition: all .5s;
    }

}