<div class='case-item'>
    <h1>#11 Forms</h1>
    <div class='wrap'>
        <form [formGroup]='form' (ngSubmit)='sendForm()'>
            <input formControlName='nome' value='' placeholder='Nome' />
            <input formControlName='idade' value='' placeholder="Idade" />
            <span class='error'>
                {{ form.get('nome').touched && form.get('nome').dirty && !form.get('nome').value ? 'Preencha o nome' : '' }}
                {{ form.get('idade').touched && form.get('idade').dirty && !form.get('idade').value ? 'Preencha a idade' : '' }}
            </span>
            <span *ngIf='sucessMsg' class='done'>
                {{sucessMsg}}
            </span>
            <input [disabled]='form.invalid' type='submit' value='Enviar'/>
        </form>
    </div>
</div>