<div class='case-item'>
    <h1>#3 Async request</h1>
    <div class='wrap'>
        <div class='bloco'>
            {{texto1}}            
        </div>
        <div class='bloco'>
            {{texto2}}            
        </div>
        <div class='bloco'>
            {{texto3}}            
        </div>
    </div>
    <button (click)='clickHandler()'>Traga-me esses malditos dados e um copo de gin</button>
</div>