<div class='case-item'>
    <h1>#12 Forms</h1>
    <div class='wrap'>
        <form [formGroup]="form">
            <label *ngFor="let field of boxList">
                <input type="checkbox" [checked]='field.check' (click)='clickHandler(field.id)' /> {{field.label}}
            </label>
          </form>
    </div>
</div>