<div class='case-item'>
    <h1>#13 switch component</h1>
    <div class='wrap'>
        <app-case1-text-component *ngIf='switchVar else list'></app-case1-text-component>
        <ng-template #list>
            <app-case13-list-component></app-case13-list-component>
        </ng-template>
        <button (click)='switchVar = !switchVar'>Troca!</button>
    </div>
</div>