<div class='case-item'>
    <h1>#10 drag and drop</h1>
    <div class='wrap'>
        <app-quadrado-case10></app-quadrado-case10>
        <app-quadrado-case10></app-quadrado-case10>
        <app-quadrado-case10></app-quadrado-case10>
        <app-quadrado-case10></app-quadrado-case10>
        <app-quadrado-case10></app-quadrado-case10>
        <app-quadrado-case10></app-quadrado-case10>
    </div>
</div>