<div class='case-item' id='topAnchor'>
    <h1>#8 scroll to top, scroll to bottom</h1>
    <div class='wrap'>
        <!-- COMO A GENTE TEM UMA PORRADA DE BOTAO, PREFERI FAZER LOGO UM COMP PRA ESSE CASO-->
        <app-btn-case8 text="{{showContent ? 'Ocultar' : 'Exibir conteudo'}}" [fn]='toggleContent'></app-btn-case8>

        <ng-container *ngIf='showContent'>
            <div class='navButtons'>
                <app-btn-case8 text="Fim do artigo" [fn]="scrollToElm" variavel='bottomAnchor'></app-btn-case8>
                <app-btn-case8 text="Fim da pagina" [fn]="scrollTo"></app-btn-case8>
            </div>
            <article>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget urna scelerisque, tincidunt lacus
                    vitae,
                    blandit ligula. Donec et libero velit. Curabitur mollis enim sed leo mattis, et laoreet nunc
                    tristique.
                    Donec vestibulum nibh faucibus semper efficitur. Praesent vel finibus neque, nec finibus mi. Etiam
                    vitae
                    lectus eget magna efficitur commodo. Phasellus a erat quis nisi consectetur blandit at congue erat.
                    Nunc
                    rutrum dolor sed velit ornare egestas. Aliquam erat volutpat. Nullam ultrices rhoncus quam vel
                    vulputate.
                    Quisque magna orci, interdum at est vel, dapibus scelerisque arcu. Praesent eget pulvinar ligula, in
                    accumsan enim. Donec congue urna vitae orci porttitor porta. Etiam cursus dignissim gravida.
                </p>
                <p>
                    Morbi quam sem, pharetra id mi eu, laoreet malesuada dolor. Nulla vitae consequat ipsum. Fusce enim
                    odio,
                    mattis ut condimentum ut, malesuada ac metus. Maecenas cursus mi at sem molestie tincidunt. Nulla
                    velit
                    risus, ultricies eu odio id, vestibulum porta augue. Nam sodales libero eu nunc porta luctus.
                    Praesent
                    aliquam vehicula justo id egestas. In mattis mauris ex, quis efficitur orci luctus a. Quisque
                    vehicula
                    urna
                    vel purus eleifend dapibus. Suspendisse fringilla tincidunt justo, at rutrum neque pulvinar sit
                    amet. Ut
                    in
                    iaculis turpis. Nunc feugiat faucibus erat, nec iaculis orci dignissim sit amet. Curabitur non nulla
                    vehicula quam iaculis accumsan ac non odio. Sed pulvinar quis velit fringilla pulvinar. Ut mauris
                    felis,
                    tempus in gravida non, auctor eu neque. Suspendisse lacus quam, commodo ac placerat sed, auctor
                    aliquet
                    metus.
                </p>
                <p>
                    Pellentesque egestas, odio eu finibus fringilla, lorem diam facilisis massa, et finibus urna velit
                    sit
                    amet
                    dui. Morbi tincidunt eros quam. Morbi bibendum orci in viverra pulvinar. Curabitur et hendrerit
                    neque.
                    Vestibulum pretium erat vitae venenatis fermentum. Fusce laoreet justo ut purus tincidunt, sit amet
                    ornare
                    orci dapibus. Donec porttitor magna sit amet viverra viverra. Etiam sagittis risus ac ligula lacinia
                    posuere. Nullam luctus, massa eget ullamcorper pellentesque, massa tellus faucibus est, non sagittis
                    leo
                    neque vehicula nunc. Duis non leo nec lectus tristique lobortis ut vitae erat. Sed aliquet, elit sed
                    viverra
                    tempus, nibh felis consectetur tellus, id sollicitudin erat ipsum sit amet dui. Fusce lobortis, arcu
                    vel
                    tincidunt efficitur, turpis nibh sodales sem, in condimentum elit orci id purus. Mauris posuere
                    risus
                    quis
                    neque tristique consequat. Cras luctus dictum ligula vel vehicula. Vestibulum vel neque tristique,
                    euismod
                    dui nec, laoreet nisi.
                </p>
                <p> Aliquam pharetra eu tortor ut dapibus. Morbi purus eros, blandit a egestas quis, vestibulum sed
                    enim.
                    Pellentesque congue dolor eget arcu luctus, nec viverra neque suscipit. Etiam elementum est sapien,
                    ut
                    lacinia ipsum placerat quis. Sed bibendum bibendum purus quis iaculis. Quisque dictum turpis et
                    hendrerit
                    dictum. Vestibulum accumsan malesuada lacinia. Orci varius natoque penatibus et magnis dis
                    parturient
                    montes, nascetur ridiculus mus. Duis vel enim ac elit laoreet hendrerit fermentum nec ipsum. In
                    sodales
                    semper sodales. Donec aliquam egestas nunc, ut luctus urna imperdiet eu. Proin sodales dignissim
                    eros,
                    ut
                    sodales justo iaculis ut. Phasellus congue rhoncus dolor, tempus malesuada dui pharetra ut. Donec a
                    egestas
                    ante, quis faucibus nibh. Fusce a suscipit nibh, vel pellentesque justo. Nullam pretium magna dolor,
                    ut
                    bibendum est rhoncus sed.
                </p>
                <p>
                    In porta tincidunt pellentesque. Mauris congue dictum sapien nec blandit. Vivamus mollis suscipit
                    facilisis.
                    Mauris sit amet libero metus. Praesent at auctor erat. Vivamus suscipit lobortis eros, sed
                    pellentesque
                    lectus. Ut ac egestas urna, non commodo nisl. Suspendisse nibh nulla, efficitur vel faucibus
                    viverra,
                    venenatis eu augue. Sed blandit enim non tincidunt lacinia.
                </p>
                <p>
                    Donec commodo tincidunt bibendum. Praesent ante elit, tristique quis semper sit amet, posuere eu
                    ipsum.
                    Nulla facilisi. Etiam sit amet sem lectus. Morbi metus tellus, mollis a augue ac, consequat
                    facilisis
                    neque.
                    Vivamus ac leo a lectus mollis iaculis. Vestibulum vel lacus sit amet velit finibus elementum.
                    Nullam
                    aliquam faucibus convallis. Sed luctus orci non massa aliquet rhoncus. Morbi convallis eleifend
                    commodo.
                    Ut
                    interdum, neque sed facilisis elementum, tortor lectus consectetur velit, sed ornare ante dui quis
                    tellus.
                    Curabitur consequat malesuada arcu quis faucibus. Integer efficitur arcu in ullamcorper tristique.
                    Fusce
                    a
                    nunc metus. Maecenas vehicula imperdiet sapien et mattis. Praesent luctus dui quis lacus laoreet
                    dapibus.
                </p>
                <p>
                    Suspendisse sollicitudin iaculis libero, ac rutrum risus pellentesque ac. Aliquam vitae lacus felis.
                    Donec
                    finibus ornare urna, ut posuere nibh consequat egestas. Duis ac luctus lacus. Praesent dictum
                    accumsan
                    consectetur. Aenean quis ex eget est pulvinar rutrum. Sed sagittis, ipsum fringilla luctus laoreet,
                    dui
                    lacus vehicula purus, non interdum dolor metus ut ipsum. Praesent sodales dui in tempor gravida.
                    Nunc
                    vel
                    varius lorem, consequat bibendum eros. Cras tincidunt justo in tellus feugiat feugiat. Donec
                    convallis,
                    ligula a placerat fermentum, ex tellus convallis purus, ac bibendum velit purus sed felis. Ut mi
                    justo,
                    consequat ac porta iaculis, iaculis vitae leo. Aenean eu sem interdum, commodo dui id, pharetra
                    purus.
                    Etiam
                    egestas ipsum id nisi mattis ultrices. Morbi finibus facilisis ante, at imperdiet ante fringilla
                    lacinia.
                </p>
                <p>
                    Vestibulum ut massa justo. Pellentesque consequat nulla quis arcu blandit tincidunt et id ligula.
                    Donec
                    fringilla laoreet leo, quis fermentum arcu auctor a. Aenean a dui nec velit finibus eleifend in non
                    nisi.
                    Integer tempus at sem ac mattis. Etiam id metus sed lectus semper dapibus sit amet nec mauris. Proin
                    mattis
                    nisi ac molestie tincidunt. Phasellus at gravida lacus.
                </p>
                <p>
                    Sed et velit ex. Proin libero mauris, iaculis non laoreet ac, fermentum in neque. Pellentesque
                    habitant
                    morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla eros ante, bibendum at
                    ante
                    at, luctus elementum orci. Quisque risus justo, elementum eget rutrum id, commodo at arcu. Phasellus
                    a
                    diam
                    urna. Nam pretium orci vitae lorem mollis laoreet. Maecenas porta in odio et porta. Sed fermentum,
                    mauris
                    nec interdum maximus, ipsum risus posuere lacus, at tincidunt massa tellus in est. Nam commodo
                    sodales
                    purus, id fringilla ligula sagittis eget. Proin ullamcorper libero ut mauris interdum fermentum.
                    Donec
                    ultricies nec justo ac imperdiet. Pellentesque sit amet neque a ipsum lobortis viverra. Nunc ac
                    sapien
                    justo.
                </p>
                <p>
                    Nunc tincidunt egestas quam, eu auctor metus eleifend et. Proin et tempus felis. Fusce facilisis
                    felis
                    at
                    lectus fringilla, non tincidunt mi vestibulum. Sed vitae ante id lectus sagittis facilisis non vel
                    erat.
                    Duis leo dolor, gravida id tortor non, convallis posuere nunc. Vestibulum posuere libero quam, at
                    tempor
                    justo sodales a. Proin lacus elit, interdum nec ornare sed, dictum a sapien. Maecenas pharetra
                    efficitur
                    nisl a mattis. Maecenas ligula lorem, interdum et diam eu, posuere cursus purus. Curabitur dolor
                    turpis,
                    faucibus sed maximus in, sodales blandit eros. Sed massa lacus, hendrerit vel pellentesque ac,
                    posuere
                    vitae
                    tortor. Proin in odio molestie, fringilla est ut, semper dui. Nulla condimentum ac lectus gravida
                    mollis.
                    Nulla risus nunc, pulvinar non feugiat eu, convallis at erat. In hac habitasse platea dictumst. Sed
                    ut
                    velit
                    dictum, convallis leo a, faucibus purus.</p>
                <p>
                    Nunc tincidunt egestas quam, eu auctor metus eleifend et. Proin et tempus felis. Fusce facilisis
                    felis
                    at
                    lectus fringilla, non tincidunt mi vestibulum. Sed vitae ante id lectus sagittis facilisis non vel
                    erat.
                    Duis leo dolor, gravida id tortor non, convallis posuere nunc. Vestibulum posuere libero quam, at
                    tempor
                    justo sodales a. Proin lacus elit, interdum nec ornare sed, dictum a sapien. Maecenas pharetra
                    efficitur
                    nisl a mattis. Maecenas ligula lorem, interdum et diam eu, posuere cursus purus. Curabitur dolor
                    turpis,
                    faucibus sed maximus in, sodales blandit eros. Sed massa lacus, hendrerit vel pellentesque ac,
                    posuere
                    vitae
                    tortor. Proin in odio molestie, fringilla est ut, semper dui. Nulla condimentum ac lectus gravida
                    mollis.
                    Nulla risus nunc, pulvinar non feugiat eu, convallis at erat. In hac habitasse platea dictumst. Sed
                    ut
                    velit
                    dictum, convallis leo a, faucibus purus.</p>
                <p>
                    Nunc tincidunt egestas quam, eu auctor metus eleifend et. Proin et tempus felis. Fusce facilisis
                    felis
                    at
                    lectus fringilla, non tincidunt mi vestibulum. Sed vitae ante id lectus sagittis facilisis non vel
                    erat.
                    Duis leo dolor, gravida id tortor non, convallis posuere nunc. Vestibulum posuere libero quam, at
                    tempor
                    justo sodales a. Proin lacus elit, interdum nec ornare sed, dictum a sapien. Maecenas pharetra
                    efficitur
                    nisl a mattis. Maecenas ligula lorem, interdum et diam eu, posuere cursus purus. Curabitur dolor
                    turpis,
                    faucibus sed maximus in, sodales blandit eros. Sed massa lacus, hendrerit vel pellentesque ac,
                    posuere
                    vitae
                    tortor. Proin in odio molestie, fringilla est ut, semper dui. Nulla condimentum ac lectus gravida
                    mollis.
                    Nulla risus nunc, pulvinar non feugiat eu, convallis at erat. In hac habitasse platea dictumst. Sed
                    ut
                    velit
                    dictum, convallis leo a, faucibus purus.</p>
                <p>
                    Nunc tincidunt egestas quam, eu auctor metus eleifend et. Proin et tempus felis. Fusce facilisis
                    felis
                    at
                    lectus fringilla, non tincidunt mi vestibulum. Sed vitae ante id lectus sagittis facilisis non vel
                    erat.
                    Duis leo dolor, gravida id tortor non, convallis posuere nunc. Vestibulum posuere libero quam, at
                    tempor
                    justo sodales a. Proin lacus elit, interdum nec ornare sed, dictum a sapien. Maecenas pharetra
                    efficitur
                    nisl a mattis. Maecenas ligula lorem, interdum et diam eu, posuere cursus purus. Curabitur dolor
                    turpis,
                    faucibus sed maximus in, sodales blandit eros. Sed massa lacus, hendrerit vel pellentesque ac,
                    posuere
                    vitae
                    tortor. Proin in odio molestie, fringilla est ut, semper dui. Nulla condimentum ac lectus gravida
                    mollis.
                    Nulla risus nunc, pulvinar non feugiat eu, convallis at erat. In hac habitasse platea dictumst. Sed
                    ut
                    velit
                    dictum, convallis leo a, faucibus purus.</p>
            </article>
            <div class='navButtons'>
                <app-btn-case8 text="Inicio do artigo" [fn]="scrollToElm" variavel='topAnchor'></app-btn-case8>
                <app-btn-case8 text="Inicio da pagina" [fn]="scrollTo" variavel={{true}}></app-btn-case8>
            </div>
            <span id='bottomAnchor'></span>
        </ng-container>
    </div>
</div>