<div class='case-item'>
    <h1>#7 replacing data</h1>
    <div class='wrap'>
        <div class='main'>{{currentText}}</div>
        <div class='options'>
            <app-btn-component
                *ngFor='let item of options'
                [id]='item.id'
                [texto]='item.text'
                (selectedId)='receiverId($event)'></app-btn-component>
        </div>
    </div>
</div>