.wrap{
    display: flex;
    flex-direction: column;

    .main{
        background-color: darken(blue, 20%);
        color: white;
        display: flex;
        justify-content: center;
        padding: 1em;
    }

}