/* You can add global styles to this file, and also import other style files */
html, body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.case-item{
    display: flex;
    flex-direction: column;
    background-color: RGBA(0,0,0,0.1);
    padding: 2.5% 5%;
    width: 90%;
    margin: 0 0 1% 5%;
    box-sizing: border-box;

    h1{
        margin-top: 0;
    }

}