<div class='case-item'>
    <h1>#2 Tabela dinamica</h1>
    <table>
        <tr *ngFor="let linha of tableLines">
            <td>
                <select>
                    <option>Selecione</option>
                    <option [selected]="item === linha.tipo" *ngFor='let item of selectBoxItens'>{{item}}</option>
                </select>
            </td>
            <td><input [value]='linha.texto'/></td>
            <td><button (click)='deleteLine(linha.id)'>x</button></td>
        </tr>
        <button (click)='addLine()'>Adicionar linha</button>
    </table>
</div>